// flexbox.scss
@import 'fonts';

// variables
$blue_light: #6fcfff;
$gray_med: #666;

// general

body {
  font-family: Lato;
  padding: 20px;
}

#container_main {
  width: 80%;
  min-width: 980px;
  margin: auto;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

// styles

.example {
  margin: 150px 0;
  padding: 9px 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  .item {
    background-color: $gray_med;
    padding: 10px;
    margin: 10px;
    min-height: 50px;
    text-align: center;
    font-size: 2em;
    color: white;
    border-radius: 4px;

  }
  > h3 {
    text-align: center;
    color: rgb(51, 122, 183);
    font-size: 1.2em;
  }
}

.noflex {
  display: block !important;
}

// flex demo 1

.item_container {
  display: flex;
}

#item_container_2 {
  flex-direction: row;
  //  flex-direction: column;
  //  flex-direction: row-reverse;
  //  flex-direction: column-reverse;
}

#item_container_3 {
  flex-wrap: nowrap;
  //  flex-wrap: wrap;
  //  flex-wrap: wrap-reverse;
  .item {
    width: 300px;
  }
}

#item_container_4 {
  justify-content: flex-start;
  //  justify-content: flex-end;
  //  justify-content: center;
  //  justify-content: space-between;
  //  justify-content: space-around;
}

#item_container_5 {
  height: 500px;
  //  justify-content: space-around;
  align-items: stretch;
//    align-items: flex-start;
  //  align-items: flex-end;
  //  align-items: center;
  //  align-items: baseline;
  //  .item {
  //    &:nth-child(1) {
  //      font-size: 5em;
  //    }
  //  }
}

#item_container_6 {
  height: 500px;
  flex-wrap: wrap;
    align-content: stretch;
//    align-content: flex-start;
  //  align-content: flex-end;
  //  align-content: center;
  //  align-content: space-around;
  //  align-content: space-between;
  .item {
    width: 30%;
  }
}


